{% extends "pegasus/examples/examples_base.html" %}
{% load static %}
{% block page_head %}
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <style>
    /* make an editable grid that looks like a table: https://stackoverflow.com/a/15600151/8207 */
    div.table
    {
        display:table;
    }
    form.tr, div.tr
    {
        display:table-row;
    }
    div.td, span.td, div.th, span.th
    {
        display:table-cell;
    }
    </style>
{% endblock page_head %}
{% block app %}
    <section class="app-card">
        <div class="pg-columns">
            <div class="pg-column-one-quarter pg-text-centered">
                <img class="img-fluid"
                     alt="HTMX"
                     src="{% static 'images/adsdroid/Ads_Droid_Logo_Letters.png' %}"
                     style="max-height: 160px;"/>
            </div>
            <div class="pg-column">
                <h1 class="pg-title">Profiles list</h1>
                <h2 class="pg-subtitle">Testing out listing profiles in the model.</h2>
                <div class="content">
                    <p>This is a model table with some text.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="app-card">
        <label class="label">Managed</label>
        <form method="post" novalidate>
            <div class="field is-grouped">
                <div class="control">
                    <div class="btn bg-gradient-primary dropdown-toggle" id="dropdown">
                        <select>
                            <option>
                                Yes
                            </option>
                            <option>
                                No
                            </option>
                        </select>
                    </div>
                    <input type="hidden" value="None" name="id" id="hidden">
                </div>
                <div class="control">
                    <button type="submit"
                            onclick="get_dropdown()"
                            class="pg-button-primary"
                            hx-post="{% url 'pegasus_employees:htmx_profiles_table' %}"
                            hx-include="[name='id']"
                            hx-swap="outerHTML"
                            hx-target="#response-div">
                        Filter table
                    </button>
                </div>
            </div>
        </form>
    </section>
    <div class="app-card">{% include 'pegasus/employees/profiles_table.html' %}</div>
{% endblock %}
{% block page_js %}
    <script>
  // hook up csrf tokens to all htmx requests
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
  function get_dropdown() {
    var x = document.getElementById("dropdown").children[0].value;
    document.getElementById("hidden").value = x
  }
    </script>
{% endblock %}
