{% extends "web/app/app_base.html" %}
{% load hijack %}
{% load form_tags %}
{% block app %}
    <h3 class="title">Task management page</h3>
    <p class="lead">
      {% if task_state %}
        {{ task_name }} - started
      {% endif%}
    </p>
      <form  method="POST" style="display: flex; flex-direction: column; width: 80%; margin: auto;">
        {% csrf_token %}
          {% for task in tasks_without_form %}
              <input type="submit" name="task" class="btn btn-primary" value="{{ task }}">
          {% endfor %}
          <input type="hidden" name="next" value="{{ redirect_url }}">
      </form>

    {% for form in forms %}
        <form method="POST" style="display: flex; flex-direction: column; width: 80%; margin: auto;">
            {% csrf_token %}
            <div class="input-group input-group-static mb-4">
                {% for field in form %}
                    {% if field.label != "task" %}
                        {{ field.label }}
                    {% endif %}
                    {{ field }}
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="{{ form.task.value }}">
        </form>
    {% endfor %}

{% endblock %}
